<footer>
	<div class="footer-social">
		<div class="container">
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-twitter-square"></i>
			<i class="fa fa-google-plus-square"></i>
		</div>
		
	</div>
	<div class="footer-links">
		<div class="container">
			<div class="col-md-3">
				<table>
					<tr>
						<th>Infomation</th>
					</tr>
					<tr>
						<td>About us</td>
					</tr>
					<tr>
						<td>Delivery Infomation</td>
					</tr>
					<tr>
						<td>Privacy Policy</td>
					</tr>
					<tr>
						<td>Terms & Conditions</td>
					</tr>
				</table>
			</div>
			<div class="col-md-3">
				<table>
					<tr>
						<th>My Account</th>
					</tr>
					<tr>
						<td>My Account</td>
					</tr>
					<tr>
						<td>Order History</td>
					</tr>
				</table>
			</div>
			<div class="col-md-3">
				<table>
					<tr>
						<th>Contact Us</th>
					</tr>
					<tr>
						<td>Địa chỉ: 169/3 Trần Văn Đang</td>
					</tr>
					<tr>
						<td>Phone: 0976071270</td>
					</tr>
				</table>
			</div>
			<div class="col-md-3">
				<table>
					<tr>
						<th colspan="3">Payment Block</th>
					</tr>
					<tr>
						<td>a</td>
						<td>a</td>
						<td>a</td>
					</tr>
					<tr>
						<td>a</td>
						<td>a</td>
						<td>a</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="footer-site">
		<div class="nav-footer">
			<ul>
				<li>Home</li>
				<li>Catalog</li>
				<li>Blog</li>
				<li>About Us</li>
				<li>Theme</li>
			</ul>
		</div>
	</div>
</footer>
