<div id="header-actions" class="show-for-medium-up">
    <div class="row padded-h">
        <div class="small-12 columns">
            <div class="table">
                <div class="cell">
                    <!-- Tagline -->
                    <p id="brand-tagline" class="no-margin">
                        A Shopify theme from <a href="http://empy.re">Empyre</a>.
                    </p>
                </div>
                <div class="cell">
                    <p class="no-margin">
                        <!-- Cart -->
                        <span class="cart">
                            <span class="items">
                                <a href="/cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="totals">
                                        <span class="count">0</span>items -
                                        <span class="price" data-money-format="">$0.00</span>
                                    </span>
                                </a>
                            </span>
                        </span>
                        <span class="divider">/</span>
                        <!-- Session -->
                        <span class="session">
                            <a href="/account/login" id="customer_login_link">Sign-in</a>
                            <span>or</span>
                        </span>
                        <!-- Checkout -->
                        <a class="checkout" href="/checkout">Checkout</a>
                    </p>
                </div>
                <div class="cell">
                    <!-- Search -->
                    <div id="header-search">
                        <form class="form-search form-inline" name="search" action="/search" novalidate="">
                            <input type="text" name="q" class="search-query search replace" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="cell">
                    <!-- Currency selector -->
                    <select id="currency-select" class="currency-select" name="currency-select">
                        <option value="CAD" selected="selected">CAD</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="site-header" class="row">
    <div class="col-md-4 logo">
        <h1 id="brand-primary-text"><a href="http://providence-seaside.myshopify.com" title="">Seaside</a></h1>
    </div>
    <div class="col-md-8 tagmenu">
        <ul class="right list-inline">
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">Catalog<span class="caret"></span></a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/theme">Theme<span class="caret"></span></a></li>
        </ul>
    </div>
</header>
